dist/
browser.zip
vscode/
assets/
img/
node_modules/
screenshot_images/
emotion.log
*.json
*.lock
_config.js
amazon-*.js
cognito*.js
desktop.ini
js/amazon-cognito-identity.min.js.map
js/aws-cognito-sdk.min.js
js/popper.min.js
js/temp.js