  /*
  html{
    background-image: url(./img/le_back.jpg);
    background-repeat: no-repeat;
    margin-top: 0px;
    background-size : cover;
  }*/

  * {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding', monospace;
  }
  
  .c1 {
      width: 58%;
      height: 100%;
      position: static;
      /*overflow: auto;*/
      float:left;
  }
  
  .c1_box {
    width: 58%;
    height: 60%;
    position: static;
    /*margin: 10% auto;*/
    background: rgb(194, 193, 193);
  }
  .c1_mainbox {
    width: 58%;
    height: 20%;
    position: static;
    /*margin: 10% auto;*/
    background:#ffff;
  }
  .c1_btbox {
    width: 58%;
    height: 20%;
    padding-left : 25%;
    position: static;
    /*margin: 10% auto;*/
    background:#ffff;
  }
  
  .c2 {
    width: 40%;
    height: 100%;
    position: static;
    /*margin: 10% auto;*/
    float:left;
  }
  
  .c2_box1 {
    width: 40%;
    height: 71%;
    position: static;
    /*margin: 10% auto;*/
    float:left;
  }
  
  
  .c2_box2 {
    width: 40%;
    height: 28%;
    position: static;
    /*margin: 10% auto;*/
    float:left;
  }